{% extends 'base.html.twig' %}

{% block title %}Gestion des locations {{ parent() }}{% endblock %}

{% block body %}
    <h1>Gestion des locations</h1>
{% if app.user.roles[0] == "ROLE_ADMIN" %}
<a href="{{ path('app_rental_new') }}">Créer une nouvelle location</a>
{% endif %}
    <table class="table">
        <thead>
            <tr>
            <th>Locataire</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                                <th>bien concerné</th>
            <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rental in rentals %}
            <tr>
                <td>{{ rental.tenant.name }}</td>
                <td>{{ rental.dateStart ? rental.dateStart|date('d/m/Y') : '' }}</td>
                <td>{{ rental.dateEnd ? rental.dateEnd|date('d/m/Y') : '' }}</td>
                <td> <a href="{{ path('app_properties_show', {'id': rental.property.id}) }}">Voir le bien</a> </td>

                <td>
                    <a href="{{ path('app_rental_show', {'id': rental.id}) }}">Afficher</a>
{% if app.user.roles[0] == "ROLE_ADMIN" %}
                    <a href="{{ path('app_rental_edit', {'id': rental.id}) }}">Modifier</a>
                {{ include('rental/_delete_form.html.twig') }}
                {% endif%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
