{% extends 'base.html.twig' %}

{% block title %}Nos locations {{ parent() }}{% endblock %}

{% block body %}
    <h1>Nos locations</h1>
<a href="{{ path('app_rental_new') }}">Créer une nouvelle location</a>
    <table class="table">
        <thead>
            <tr>
            <th>Locataire</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rental in rentals %}
            <tr>
                <td>{{ rental.tenant.name }}</td>
                <td>{{ rental.dateStart ? rental.dateStart|date('Y-m-d') : '' }}</td>
                <td>{{ rental.dateEnd ? rental.dateEnd|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_rental_show', {'id': rental.id}) }}">Afficher</a>
                    <a href="{{ path('app_rental_edit', {'id': rental.id}) }}">Modifier</a>
                {{ include('rental/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
