{% extends 'base.html.twig' %}

{% block title %}Accueil
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center mb-5 text-primary">Coupdcoeurimmo</h1>
				<p class="lead">
					Bienvenue au sein de notre agence immobilière conviviale et familiale où chaque client est traité avec une attention particulière. Nous sommes fiers de fournir des services immobiliers de qualité supérieure dans un environnement chaleureux et accueillant. Notre équipe de professionnels passionnés par leur métier travaille en étroite collaboration avec nos clients pour répondre à leurs besoins spécifiques.
				</p>
				<p class="text-secondary">
					Nous sommes là pour vous guider à chaque étape de votre parcours immobilier, que vous cherchiez à vendre, acheter ou louer une propriété. Chez nous, chaque client est important et nous sommes déterminés à vous offrir un service personnalisé et sur mesure. Nous sommes à l'écoute de vos besoins et préférences, travaillant en collaboration avec vous pour vous aider à réaliser vos rêves immobiliers. Notre agence immobilière s'engage à fournir des services professionnels de haute qualité, accordant une attention particulière aux détails. Nous croyons que notre approche personnalisée et attentive est la clé de notre succès, et nous sommes passionnés par notre métier.
				</p>
				<p class="text-secondary">
					Nous sommes impatients de vous aider à réaliser vos rêves immobiliers, alors n'hésitez pas à nous contacter dès aujourd'hui pour découvrir comment nous pouvons vous aider. Nous sommes à votre disposition pour répondre à toutes vos questions pour vous aider à trouver la propriété de vos rêves.
				</p>
				<p class="text-muted">
					Contactez-nous dès maintenant pour en savoir plus sur nos services immobiliers et pour trouver la propriété de vos rêves.
				</p>
			</div>
		</div>
	</div>
<div class="row">
  {% for property in properties %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        {% if property.images|length > 0 %}
          <div id="carousel-{{ property.id }}" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for image in property.images %}
                <li data-target="#carousel-{{ property.id }}" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for image in property.images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}" data-interval="2000">
      	            <img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="d-block w-100" alt="{{ 'Image ' ~ loop.index0 ~ ' de ' ~ property.title }}">
                </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousel-{{ property.id }}" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carousel-{{ property.id }}" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
          </div>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ property.title }}</h5>
          <p class="card-text">
            <strong>Surface:</strong>
            {{ property.harea }}m²</p>
          <p class="card-text">
            <strong>Ville:</strong>
            {{ property.address.city }}</p>
          <p class="card-text">
            <strong>Nombre de pièces:</strong>
            {{ property.roomNumber }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{{ path('app_properties_show', {'id': property.id}) }}" class="btn btn-sm btn-outline-secondary">Voir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

	<nav aria-label="Page">
		<ul class="pagination pagination-lg justify-content-center shadow">
			{% if current_page > 1 %}
				<li class="page-item">
					<a class="page-link" href="{{ path('app_home', {'page': current_page-1}) }}" aria-label="Previous">
						<i class="fas fa-angle-left"></i>
						<span class="sr-only">Previous</span>
					</a>
				</li>
			{% endif %}

			{% for page in 1..total_pages %}
				<li class="page-item {% if page == current_page %} active {% endif %}">
					<a class="page-link" href="{{ path('app_home', {'page': page}) }}">{{ page }}</a>
				</li>
			{% endfor %}

			{% if current_page < total_pages %}
				<li class="page-item">
					<a class="page-link" href="{{ path('app_home', {'page': current_page+1}) }}" aria-label="Next">
						<i class="fas fa-angle-right"></i>
						<span class="sr-only">Next</span>
					</a>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endblock %}
