{% extends 'base.html.twig' %}

{% block title %}Accueil
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center mb-5 text-primary">Coupdcoeurimmo</h1>
				<p class="lead">
					Bienvenue au sein de notre agence immobilière conviviale et familiale où chaque client est traité avec une attention particulière. Nous sommes fiers de fournir des services immobiliers de qualité supérieure dans un environnement chaleureux et accueillant. Notre équipe de professionnels passionnés par leur métier travaille en étroite collaboration avec nos clients pour répondre à leurs besoins spécifiques.
				</p>
				<p class="text-secondary">
					Nous sommes là pour vous guider à chaque étape de votre parcours immobilier, que vous cherchiez à vendre, acheter ou louer une propriété. Chez nous, chaque client est important et nous sommes déterminés à vous offrir un service personnalisé et sur mesure. Nous sommes à l'écoute de vos besoins et préférences, travaillant en collaboration avec vous pour vous aider à réaliser vos rêves immobiliers. Notre agence immobilière s'engage à fournir des services professionnels de haute qualité, accordant une attention particulière aux détails. Nous croyons que notre approche personnalisée et attentive est la clé de notre succès, et nous sommes passionnés par notre métier.
				</p>
				<p class="text-secondary">
					Nous sommes impatients de vous aider à réaliser vos rêves immobiliers, alors n'hésitez pas à nous contacter dès aujourd'hui pour découvrir comment nous pouvons vous aider. Nous sommes à votre disposition pour répondre à toutes vos questions pour vous aider à trouver la propriété de vos rêves.
				</p>
				<p class="text-muted">
					Contactez-nous dès maintenant pour en savoir plus sur nos services immobiliers et pour trouver la propriété de vos rêves.
				</p>
			</div>
		</div>
	</div>


	{% for property in properties %}
		<div class="card bordered">
			<h2>{{ property.title }}</h2>
			<button onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1/coupdcoeurimmo/public/properties/{{ property.id }}', 'facebook-share-dialog', 'width=626,height=436'); return false;">
				<i class="fa fa-facebook"></i>
				Partager sur Facebook</button>
			<button onclick="window.open('https://twitter.com/share?url=http://127.0.0.1/coupdcoeurimmo/public/properties/{{ property.id }}', 'twitter-share-dialog', 'width=626,height=436'); return false;">
				<i class="fa fa-twitter"></i>
				Partager sur Twitter</button>
				<button class="favori-button" onclick="toggleFavori({{ property.id }})" data-property-id="{{ property.id }}">
					<i class="fa fa-heart"></i>
					Ajouter aux favoris
				  </button>
			{% if property.images|length > 0 %}
				<div id="carousel-{{ property.id }}" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for image in property.images %}
							<li data-target="#carousel-{{ property.id }}" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner carousel-fade">
						{% for image in property.images %}
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<img src="{{ vich_uploader_asset(image, 'imageFile') }}" class="d-block w-100 animate__animated animate__fadeIn" alt="{{ 'Image ' ~ loop.index0 ~ ' de ' ~ property.title }}">
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}

			<div
				class="col-md-12 text-center mt-3">
				<!-- Button that triggers the modal -->
				<button type="button" id="btnModal{{ loop.index }}" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{ loop.index }}" aria-label="Voir {{ property.title }}">
					Voir
				</button>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ loop.index }}" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h5 class="modal-title" id="myModalLabel{{ loop.index }}">{{ property.title }}</h5>
						</div>
						<div class="modal-body">
							<div class="border p-3">
								<h2 class="font-weight-bold">Description</h2>
								<p class="card-text">{{ property.content|raw }}</p>
							</div>
							<div class="border p-3">
								<h2 class="font-weight-bold">Category</h2>
								<p>{{ property.category.name }}</p>
							</div>
							<div class="border p-3">
								<h2 class="font-weight-bold">Date d'ajout</h2>
								<p>{{ property.createdAt|date("d/m/Y") }}</p>
							</div>

							<div class="row">
								<div class="col-md-6 mb-4">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title mb-4">Caractéristiques</h4>
											<ul class="list-group">
												<li class="list-group-item d-flex justify-content-between align-items-center">
													Nombre de pièces :
													<span class="badge bg-secondary rounded-pill">{{ property.roomNumber }}</span>
												</li>
												{% if property.category.name == "location" %}
													<li class="list-group-item d-flex justify-content-between align-items-center">
														Loyer :
														<span class="badge bg-secondary rounded-pill">{{ property.rent }}</span>
													</li>
												{% else %}
													<li class="list-group-item d-flex justify-content-between align-items-center">
														Prix :
														<span class="badge bg-secondary rounded-pill">{{ property.price }}</span>
													</li>
												{% endif %}
												<li class="list-group-item d-flex justify-content-between align-items-center">
													Ce bien dispose d'un jardin :
													<span class="badge bg-secondary rounded-pill">{{ property.garden ? 'Oui' : 'Non' }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between align-items-center">
													Type du logement :
													<span class="badge bg-secondary rounded-pill">{{ property.housingType == 'house' ? "Maison" : "Appartement" }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between align-items-center">
													Surface :
													<span class="badge bg-secondary rounded-pill">{{ property.harea }}m^²</span>
												</li>
												<li class="list-group-item d-flex justify-content-between align-items-center">
													Type de transaction :
													<span class="badge bg-secondary rounded-pill">{{ property.category.name }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between align-items-center">
													Ville :
													<span class="badge bg-secondary rounded-pill">{{ property.address.city }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between align-items-center">
													Chauffage :
													<span class="badge bg-secondary rounded-pill">{{ property.heating }}</span>
												</li>
												<li class="list-group-item d-flex justify-content-between align-items-center">
													Année de construction :
													<span class="badge bg-secondary rounded-pill">{{ property. yearBuilt|date('d/m/Y') }}</span>
												</li>
											</ul>
										</div>
										<div class="modal-footer">
											<a href="{{ path('app_pdf_generate', {'id': property.id}) }}" class="btn btn-sm btn-outline-secondary">Généré une fiche au format pdf</a>
											{% if property.category.name == "location" %}
												<a href="{{ path('app_rental_application_new', {'id': property.id}) }}" class="btn btn-sm btn-outline-secondary">Créer un dossier de location</a>
											{% else %}
												<a href="{{ path('app_rental_interest_new', {'id': property.id}) }}" class="btn btn-sm btn-outline-secondary">Remplir la fiche d'intérêt</a>
                                                {% endif %}
												<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script>
				function toggleFavori(propertyId) {
				  if (isPropertyInFavoris(propertyId)) {
					retirerFavori(propertyId);
				  } else {
					ajouterFavori(propertyId);
				  }
				}
			  
				function isPropertyInFavoris(propertyId) {
				  var favoris = getFavorisFromCookie();
				  return favoris.includes(propertyId.toString());
				}
			  
				function ajouterFavori(propertyId) {
				  var favoris = getFavorisFromCookie();
				  favoris.push(propertyId.toString());
				  updateFavorisCookie(favoris);
				  alert('La propriété a été ajoutée aux favoris avec succès.');
			  
				  updateButtonState(propertyId, true);
				}
			  
				function retirerFavori(propertyId) {
				  var favoris = getFavorisFromCookie();
				  var index = favoris.indexOf(propertyId.toString());
				  if (index > -1) {
					favoris.splice(index, 1);
				  }
				  updateFavorisCookie(favoris);
				  alert('La propriété a été retirée des favoris avec succès.');
			  
				  updateButtonState(propertyId, false);
				}
			  
				function getFavorisFromCookie() {
				  var favorisCookie = document.cookie
					.split(';')
					.map(cookie => cookie.trim())
					.find(cookie => cookie.startsWith('favoris='));
			  
				  if (favorisCookie) {
					var favorisString = favorisCookie.split('=')[1];
					return JSON.parse(favorisString);
				  }
			  
				  return [];
				}
  
				function updateFavorisCookie(favoris) {
					var favorisString = JSON.stringify(favoris);
					var expirationDate = new Date();
					expirationDate.setDate(expirationDate.getDate() + 14); // Définir une durée de validité de 14 jours
				  
					document.cookie = 'favoris=' + favorisString + '; expires=' + expirationDate.toUTCString() + '; path=/';
				  }

				  

				function updateButtonState(propertyId, isFavori) {
				  var buttons = document.querySelectorAll('.favori-button');
			  
				  buttons.forEach(function(button) {
					var id = button.dataset.propertyId;
			  
					if (id === propertyId.toString()) {
					  if (isFavori) {
						button.innerHTML = '<i class="fa fa-heart"></i> Retirer des favoris';
					  } else {
						button.innerHTML = '<i class="fa fa-heart"></i> Ajouter aux favoris';
					  }
					}
				  });
				}
			  
				// Mettre à jour l'état des boutons lors du chargement de la page
				window.addEventListener('load', function() {
				  var buttons = document.querySelectorAll('.favori-button');
				  var favoris = getFavorisFromCookie();
			  
				  buttons.forEach(function(button) {
					var id = button.dataset.propertyId;
			  
					if (favoris.includes(id)) {
					  button.innerHTML = '<i class="fa fa-heart"></i> Retirer des favoris';
					}
				  });
				});
			  </script>

			{% endfor %}

		<nav aria-label="Page">
			<ul class="pagination pagination-lg justify-content-center shadow">
				{% if current_page > 1 %}
					<li class="page-item">
						<a class="page-link" href="{{ path('app_home', {'page': current_page-1}) }}" aria-label="Previous">
							<i class="fas fa-angle-left"></i>
							<span class="sr-only">Previous</span>
						</a>
					</li>
				{% endif %}

				{% for page in 1..total_pages %}
					<li class="page-item {% if page == current_page %} active {% endif %}">
						<a class="page-link" href="{{ path('app_home', {'page': page}) }}">{{ page }}</a>
					</li>
				{% endfor %}

				{% if current_page < total_pages %}
					<li class="page-item">
						<a class="page-link" href="{{ path('app_home', {'page': current_page+1}) }}" aria-label="Next">
							<i class="fas fa-angle-right"></i>
							<span class="sr-only">Next</span>
						</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		{% endblock %}