<p class="text-center text-warning">Si le dossier est incomplèt votre candidature ne sera pas analyser.</p>
{{ form_start(form) }}
<h2>Document d'identité</h2>
    {{ form_row(form.idCardRecto, {
        'label': 'Justificatif d\'identité Recto',
        'row_attr': {'class': 'form-row'}
    }) }}

        {{ form_row(form.idCardVerso, {
        'label': "Justificatif d'identité  verso",
        'row_attr': {'class': 'form-row'}
    }) }}

    <h2>Revenus sur l'année passée</h2>
    {{ form_row(form.taxForm, {
        'label': 'Avis d\'imposition sur les revenus de l\'année passée',
        'row_attr': {'class': 'form-row'}
    }) }}

<h2>Justificatif de revenu</h2>
<p class="text-center text-info">Vous devez fournir vos trois dernières fiche de paye, peut importe l'orde d'importation.</p>
    {{ form_row(form.payStub1, {
        'label': 'Première fiche de paye',
        'row_attr': {'class': 'form-row'}
    }) }}

    {{ form_row(form.payStub2, {
        'label': 'Seconde fiche de paye',
        'row_attr': {'class': 'form-row'}
    }) }}

    {{ form_row(form.payStub3, {
        'label': 'Troisième fiche de paye',
        'row_attr': {'class': 'form-row'}
    }) }}

    <h2>Votre domicil actuel</h2>
    <p class="text-center text-info">Le justificatif de domicil permet de justifier votre lieu de domiciliation actuel, il peut comprendre un loyer, une facture d'énergie ou de téléphonie.</p>
    {{ form_row(form.proofResidence, {
        'label': 'Justificatif de domicile actuel (Si aucun, fournir une attestation d\'hébergement)',
        'row_attr': {'class': 'form-row'}
    }) }}

<h2>Votre garant</h2>
<p class="text-center text-info">Si vous n'avez pas de garant ne pas cocher la case</p>

{{ form_label(form.guarantor, 'J\'ai un garant') }}
{{ form_widget(form.guarantor, {'attr': {'class': 'form-control'}}) }}

<div class="guarantor-paystub-container">
    {{ form_label(form.guarantorPayStub1, 'Première fiche de paye de votre garant') }}
    {{ form_widget(form.guarantorPayStub1, {'attr': {'class': 'form-control guarantor-paystub'}}) }}

    {{ form_label(form.guarantorPayStub2, 'Seconde fiche de paye de votre garant') }}
    {{ form_widget(form.guarantorPayStub2, {'attr': {'class': 'form-control guarantor-paystub'}}) }}

    {{ form_label(form.guarantorPayStub3, 'Troisième fiche de paye de votre garant') }}
    {{ form_widget(form.guarantorPayStub3, {'attr': {'class': 'form-control guarantor-paystub'}}) }}
</div>
<button class="btn">{{ button_label|default('Soumettre mon dossier') }}</button>
{{ form_end(form) }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var guarantorCheckbox = document.getElementById('{{ form.guarantor.vars.id }}');
        var guarantorPaystubsContainer = document.querySelector('.guarantor-paystub-container');
        var guarantorPaystubs = document.querySelectorAll('.guarantor-paystub');

        // Masquer les labels et les champs de fiches de paie lors du chargement de la page
        guarantorPaystubsContainer.style.display = 'none';

        guarantorCheckbox.addEventListener('change', function() {
            if (guarantorCheckbox.checked) {
                guarantorPaystubsContainer.style.display = 'block';
            } else {
                guarantorPaystubsContainer.style.display = 'none';
            }
        });
    });
</script>