{% extends 'base.html.twig' %}

{% block title %} Gestion des catégories {{ parent() }} {% endblock %}

{% block body %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Gestion des catégories</h2>
  <p class="text-center mb-5">Gérer de façon très simple vos catégories</p>

  <div class="row justify-content-center">
    <div class="col-md-10">
      <table class="table table-bordered table-hover text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Catégorie</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
          <tr>
            <th scope="row">
              <a class="text-decoration-none" href="{{ path('app_category_show', {'name': category.name}) }}">
                {% if category.name == 'Vente' %}
                  <i class="fas fa-home fa-fw me-1" aria-hidden="true"></i>
                {% elseif category.name == 'Location' %}
                  <i class="fas fa-building fa-fw me-1" aria-hidden="true"></i>
                {% endif %}
                {{ category.name }}
              </a>
            </th>
            <td>{{ category.describ }}</td>
            <td>
              <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
              {{ include('category/_delete_form.html.twig') }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
