{% extends 'base.html.twig' %}

{% block title %}Gestion des biens{% endblock %}

{% block body %}
    <h1 class="mb-4 text-center my-5">Nos biens</h1>

    {% if properties is not empty %}
        <div class="row px-4">
            {% for property in properties %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ property.title }}</h5>
                            <p class="card-text">Propriétaire : {{ property.user.name }}</p>
                            <p class="card-text">Nombre de pièces : {{ property.roomNumber }}</p>
                            <p class="card-text">Type de transaction : {{ property.category.name }}</p>
                            <p class="card-text">Type du logement : {{ property.housingType ? "Maison" : "Appartement" }}</p>
                            <p class="card-text">Ville : {{ property.address.city }}</p>
                            <a href="{{ path('app_properties_show', {'id': property.id}) }}" class="btn btn-info">
                                <i class="fas fa-eye"></i> Afficher
                            </a>
                            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                                <a href="{{ path('app_properties_edit', {'id': property.id}) }}" class="btn btn-primary">
                                    <i class="fas fa-edit"></i> Modifier
                                </a>
                                {{ include('properties/_delete_form.html.twig') }}
                            {% endif %}
                            <div class="mt-3">
                                {% if app.user %}
                                    {% set isFavori = false %}
                                    {% for favori in app.user.favoris %}
                                        {% if favori.property.id == property.id %}
                                            {% set isFavori = true %}
                                            <a href="{{ path('app_favori_remove', {'id': favori.id}) }}" class="btn btn-danger">
                                                <i class="fas fa-heart"></i>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                    {% if not isFavori %}
                                        <a href="{{ path('app_favori_add', {'id': property.id}) }}" class="btn btn-outline-danger">
                                            <i class="far fa-heart"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('app_login') }}" class="btn btn-outline-danger">
                                        <i class="far fa-heart"></i>
                                    </a>
                                {% endif %}
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uriForPath(path('app_properties_show', {'id': property.id})) }}" target="_blank" class="btn btn-primary"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/intent/tweet?url={{ app.request.uriForPath(path('app_properties_show', {'id': property.id})) }}&text={{ property.title }}" target="_blank" class="btn btn-info"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Aucun enregistrement trouvé
        </div>
    {% endif %}
{% endblock %}
