{% extends 'base.html.twig' %}

{% block title %}Gestion des biens{% endblock %}

{% block body %}
    <h1>Nos biens</h1>
        {% if app.user.roles[0] == "ROLE_ADMIN" %}
                    <a href="{{ path('app_properties_new') }}">Créer un nouveau bien</a>
                    {% endif %}
    <table class="table">
        <thead>
            <tr>
            <th>Propriétaire</th>
                <th>Nombre de pièces</th>              
                <th>Type de la transaction</th>
                <th>Type du logement</th>
                <th>Titre</th>
                                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
            <td>{{ property.user.name }}</td>
                 <td>{{ property.roomNumber }}</td>
                <td>{{ property.transactionType ? "location": "vente" }}</td>
                <td>{{ property.housingType ? "maison" : "appartement" }}</td>
                                <td>{{ property.title }}</td>
                <td>
                    {{ include('properties/_delete_form.html.twig') }}
                    <a href="{{ path('app_properties_show', {'id': property.id}) }}">Afficher</a>
                    <a href="{{ path('app_properties_edit', {'id': property.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
