{% extends 'base.html.twig' %}

{% block title %}Properties index{% endblock %}

{% block body %}
    <h1>Properties index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RoomNumber</th>
                <th>Sale</th>
                <th>Rental</th>
                <th>Rent</th>
                <th>Price</th>
                <th>Garden</th>
                <th>House</th>
                <th>Apartment</th>
                <th>Title</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.id }}</td>
                <td>{{ property.roomNumber }}</td>
                <td>{{ property.sale ? 'Yes' : 'No' }}</td>
                <td>{{ property.rental ? 'Yes' : 'No' }}</td>
                <td>{{ property.rent }}</td>
                <td>{{ property.price }}</td>
                <td>{{ property.garden ? 'Yes' : 'No' }}</td>
                <td>{{ property.house ? 'Yes' : 'No' }}</td>
                <td>{{ property.apartment ? 'Yes' : 'No' }}</td>
                <td>{{ property.title }}</td>
                <td>{{ property.content }}</td>
                <td>
                    <a href="{{ path('app_properties_show', {'id': property.id}) }}">show</a>
                    <a href="{{ path('app_properties_edit', {'id': property.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_properties_new') }}">Create new</a>
{% endblock %}
