{% extends 'base.html.twig' %}

{% block title %}Vous consultez le bien {{ property.title }} {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-5">Consultation du bien "{{ property.title }}"</h1>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Caractéristiques</h4>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Propriétaire
                                <span class="badge bg-secondary rounded-pill">{{ property.user.name }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Nombre de pièces
                                <span class="badge bg-secondary rounded-pill">{{ property.roomNumber }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Loyer
                                <span class="badge bg-secondary rounded-pill">{{ property.rent }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Prix
                                <span class="badge bg-secondary rounded-pill">{{ property.price ? "aucun" }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Ce bien dispose d'un jardin
                                <span class="badge bg-secondary rounded-pill">{{ property.garden ? 'Oui' : 'Non' }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Type du logement
                                <span class="badge bg-secondary rounded-pill">{{ property.housingType == 'house' ? "Maison" : "Appartement" }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Type de transaction
                                <span class="badge bg-secondary rounded-pill">{{ property.transactionType == 'rent' ? "Location" : "Vente" }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Date de création
                                <span class="badge bg-secondary rounded-pill">{{ property.createdAt|date('d/m/Y') }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Ville
                                <span class="badge bg-secondary rounded-pill">{{ property.address.city }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Chauffage
                                <span class="badge bg-secondary rounded-pill">{{ property.heating }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Année de construction
                                <span class="badge bg-secondary rounded-pill">{{ property. yearBuilt|date('d/m/Y') }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Description</h4>
                        <p class="card-text">{{ property.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
