{% extends 'base.html.twig' %}

{% block title %}RentalInterest index{% endblock %}

{% block body %}
    <h1>RentalInterest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Property</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rental_interest in rental_interests %}
            <tr>
                <td>{{ rental_interest.id }}</td>
                <td>{{ rental_interest.user.name }}</td>
                <td>{{rental_interest.properties.nmae}}</td>
                <td>
                    <a href="{{ path('app_rental_interest_show', {'id': rental_interest.id}) }}">show</a>
                    <a href="{{ path('app_rental_interest_edit', {'id': rental_interest.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rental_interest_new') }}">Create new</a>
{% endblock %}
