{% block body %}
    <div class="container">
<style>
hr {
color:rgb(206, 34, 72);
}
div{
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* Container */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Font weight bold */
.font-weight-bold {
    font-weight: 700;
}

/* Display inline block */
.d-inline-block {
    display: inline-block;
}

/* Align text top */
.align-text-top {
    vertical-align: text-top;
}

/* Margin bottom */
.mb-4 {
    margin-bottom: 1.5rem;
}

/* List group */
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:last-child {
    margin-bottom: 0;
}

/* Justify content between */
.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* Badge */
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.25rem;
}

.badge.bg-coupdocoeur {
    background-color: #191f39;
    color: white;
}

.badge.rounded-pill {
    border-radius: 30rem;
}

/* Card title */
.card-title {
    margin-bottom: 0.75rem;
}

/* Modal body */
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

/* Border */
.border {
    border: 1px solid #dee2e6 !important;
}

/* Padding */
.p-3 {
    padding: 1rem !important;
}

/* Modal footer */
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}

/* Text danger */
.text-danger {
    color: #dc3545 !important;
    padding-left: 35px;
}

/* Width 100 */
.w-100 {
    width: 67% !important;
    border-radius: 64px;
    padding: 2.25rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.25rem;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 75em;
        margin: 1.75rem auto;
    }
}

.bg-coupdocoeur {
    background-color: #191f39;
    font-size: 16px;
    color: white;
    font-weight: normal;
}
</style>

<div>
    <img src="data:image/jpeg;base64,{{ imageBase64 }}" alt="CoupdcoeurimmoLogo" width="180" height="180" class="d-inline-block align-text-top">
</div>

<hr>

<h1 class="font-weight-bold text-danger" id="title">{{ property.title|raw }}</h1>

<div style="display:flex; flex-direction:row;">
	<img src="data:image/jpeg;base64,{{ imageBase65 }}" alt="Img de l'appartement" width="auto" height="250" class="d-inline-block align-text-top" style="border-radius:30px">
	
	<div class="card-body">
		<h2 class="card-title mb-4 font-weight-bold">Caractéristiques</h2>
		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between align-items-center">
			Nombre de pièces :
			<span class="badge bg-coupdocoeur rounded-pill">{{ property.roomNumber }}</span>
			</li>

			{% if property.category.name == "location" %}
			<li class="list-group-item d-flex justify-content-between align-items-center">
			Loyer :
			<span class="badge bg-coupdocoeur rounded-pill">{{ property.rent }}</span>
			</li>

			{% else %}
			<li class="list-group-item d-flex justify-content-between align-items-center">
			Prix :
			<span class="badge bg-coupdocoeur rounded-pill">{{ property.price }}</span>
			</li>

			{% endif %}
			<li class="list-group-item d-flex justify-content-between align-items-center">
			Ce bien dispose d'un jardin :
			<span class="badge bg-coupdocoeur rounded-pill">{{ property.garden ? 'Oui' : 'Non' }}</span>
			</li>

			<li class="list-group-item d-flex justify-content-between align-items-center">
			Type du logement :
			<span class="badge bg-coupdocoeur rounded-pill">{{ property.housingType == 'house' ? "Maison" : "Appartement" }}</span>
			</li>

			<li class="list-group-item d-flex justify-content-between align-items-center">
			Surface :
			<span class="badge bg-coupdocoeur rounded-pill">{{ property.harea }}m^²</span>
			</li>

			<li class="list-group-item d-flex justify-content-between align-items-center">
			Type de transaction :
			<span class="badge bg-coupdocoeur rounded-pill">{{ property.category.name }}</span>
			</li>

			<li class="list-group-item d-flex justify-content-between align-items-center">
			Ville :
			<span class="badge bg-coupdocoeur rounded-pill">{{ property.address.city }}</span>
			</li>

			<li class="list-group-item d-flex justify-content-between align-items-center">
			Chauffage :
			<span class="badge bg-coupdocoeur rounded-pill">{{ property.heating }}</span>
			</li>

			<li class="list-group-item d-flex justify-content-between align-items-center">
			Année de construction :
			<span class="badge bg-coupdocoeur rounded-pill">{{ property. yearBuilt|date('d/m/Y') }}</span>
			</li>
		</ul>
	</div>
	<div class="modal-body">
		<div class="border p-3">
			<h2 class="font-weight-bold">Description</h2>
			<p class="card-text">{{ property.content|raw }}</p>
		</div>
		<div class="border p-3">
			<h2 class="font-weight-bold">Categorie</h2>
			<p>{{ property.category.name }}</p>
		</div>
		<div class="border p-3">
			<h2 class="font-weight-bold">Date d'ajout</h2>
			<p>{{ property.createdAt|date("d/m/Y") }}</p>
		</div>

	</div>
    </div>
{% endblock %}
