


<div class="dropdown mt-2 mx-1">
  <button class="btn btn-danger dropdown-toggle   " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Cat√©gories
  </button>
  <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton" style=".dropdown-menu.show : display: block;
    left: -10em;">
{# Lien vers la page d'index des cat√©gories #}
    	<a class="dropdown-item" href="{{ path('app_category_admin') }}"> <i class="fas fa-address-book"></i> Gestion des cat√©gories   </a>
{# Lien vers la page de cr√©ation d'une nouvelle cat√©gorie #}
    	<a class="dropdown-item" href="{{ path('app_category_new') }}"> <i class="fas fa-plus"></i> Cr√©er une nouvelle cat√©gorie </a>
  </div>
</div>





<div class="dropdown mt-2 mx-1">
  <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Achat
  </button>
  <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton" style=".dropdown-menu.show : display: block;
    left: -15em;">
{# Lien vers la page des demandes d'achats #}
	<a class="dropdown-item" href="{{ path('app_home_interest_index') }}" class="nav-link"><i class="fas fa-list"></i> Les Demandes d'achat </a>
{# Lien vers la page pour crÈer une demande d'achat #}
	<a class="dropdown-item" href="{{ path('app_home_interest_new') }}" class="nav-link"><i class="fas fa-plus"></i> Cr√©er une nouvelle demande d'achat</a>

  </div>
</div>



<div class="dropdown mt-2 mx-1">
  <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Location
  </button>
  <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton" style=".dropdown-menu.show : display: block;
    left: -10em;">
{# Lien vers la page des locations en cours #}
	<a class="dropdown-item" href="{{ path('app_rental_index') }}" class="nav-link"><i class="fas fa-list"></i> Les locations en cours </a>

{# Lien vers la page pour crÈer une nouvelle location #}
	<a class="dropdown-item" href="{{ path('app_rental_new') }}" class="nav-link"><i class="fas fa-plus"></i> Cr√©er une nouvelle location </a>
{# Lien vers la page liste des propri√©t√©s #}



  </div>
</div>



<div class="dropdown mt-2 mx-1">
  <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Nos biens
  </button>
  <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton" style=".dropdown-menu.show : display: block;
    left: -7em;">
{# Lien vers la page liste des propri√©t√©s #}
	<a class="dropdown-item" href="{{ path('app_properties_index') }}">  <i class="fas fa-list"></i> Liste des propri√©t√©s </a>
{# Lien vers la page d'ajout de propri√©t√©s #}
	<a class="dropdown-item" href="{{ path('app_properties_new') }}">  <i class="fas fa-plus"></i> Ajouter une propri√©t√© </a>



  </div>
</div>






<div class="dropdown mt-2 mx-1">
  <button class="btn btn-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Contacts
  </button>
  <div class="dropdown-menu text-left" aria-labelledby="dropdownMenuButton" style=".dropdown-menu.show : display: block;
    left: -7em;">
{# Lien vers la page d'index des contacts #}
	<a class="dropdown-item" href="{{ path('app_contact_index') }}">  <i class="fas fa-address-book"></i> Gestion des contacts </a>
{# Lien vers la page de contact #}
	<a class="dropdown-item" href="{{ path('app_contact_new') }}">  <i class="fas fa-plus"></i> Nouvelle demande de contact </a>


  </div>
</div>




          <div class="dropdown mt-2 mx-1 ">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mon compte
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style=".dropdown-menu.show : display: block;
    left: -5em;">
              {% if app.user %}
                <a class="dropdown-item" href="{{ path('app_user_edit', {'id': app.user.id}) }}"><i class="fas fa-user-edit"></i> Modifier mon profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i> D√©connexion</a>
                {{ include('user/_delete_form.html.twig') }}
              {% endif %}
            </div>
          </div>





<!-- ancienne nav -->

<!--<ul class="list-group mt-3">
    
    <li class="list-group-item">
        <a href="{{ path('app_category_admin') }}" class="nav-link">Gestion des cat√©gories</a>
    </li>
    
 
    <li class="list-group-item">
        <a href="{{ path('app_category_new') }}" class="nav-link">Cr√©er une nouvelle cat√©gorie</a>
    </li>
</ul>

<ul class="list-group mt-3">
    
    <li class="list-group-item">
        <a href="{{ path('app_contact_index') }}" class="nav-link">
            <i class="fas fa-address-book"></i> Gestion des contacts
        </a>
    </li>
    </ul>
        <ul class="list-group mb-4">
        <li class="list-group-item">
            <a href="{{ path('app_properties_index') }}" class="nav-link">
                <i class="fas fa-list"></i> Liste des propri√©t√©s
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('app_properties_new') }}" class="nav-link">
                <i class="fas fa-plus"></i> Ajouter une propri√©t√©
            </a>
        </li>
    </ul>

        <a href="{{ path('app_rental_new') }}" class="nav-link">Cr√©er une nouvelle location</a>
        <a href="{{ path('app_rental_index') }}" class="nav-link">Les location en cour</a>
<a href="{{ path('app_home_interest_index') }}" class="nav-link">Les Demandes d'achat</a>
<a href="{{ path('app_home_interest_new') }}" class="nav-link">Cr√©er une nouvelle demande d'achat</a>-->


