<div class="container-fluid">
  <div class="row">
    <!-- Contenu principal -->
    <div class="col-lg-9">
      <nav class="navbar navbar-expand navbar-dark bg-danger">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ path('app_home') }}">
            <img src="{{ asset('images/logo.jpg') }}" alt="Coupdcoeurimmo Logo" width="150" height="120" class="d-inline-block align-text-top me-2 text-danger">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">
                  <i class="fas fa-home fa-fw me-1" aria-hidden="true"></i> 
                  <span class="nav-link-text">Accueil</span>
                </a>
              </li>
              <li class="nav-item">
                {{ render(controller('App\\Controller\\CategoryController::index')) }}
              </li>      
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_favoris') }}">
                  <i class="fas fa-heart fa-fw me-1" aria-hidden="true"></i> 
                  <span class="nav-link-text">Favoris</span>
                  (<span id="favoris-count"></span>)
                </a>
              </li>       
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_about') }}">
                  <i class="fas fa-info-circle fa-fw me-1" aria-hidden="true"></i> 
                  <span class="nav-link-text">Nous trouver</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('app_contact_new') }}">
                  <i class="fas fa-envelope fa-fw me-1" aria-hidden="true"></i> 
                  <span class="nav-link-text">Contact</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
      <!-- Contenu principal de la page -->
      {{ render(controller('App\\Controller\\SearchController::index')) }}
    </div>

    <!-- Sidebar -->
    <div class="col-lg-3 order-lg-last">
      <nav class="navbar-dark bg-danger sidebar">
        <!-- Contenu de la sidebar -->
        <ul class="navbar-nav">
          <!-- Ajoutez d'autres éléments de menu ici -->
          {% if app.user is empty %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">
              <i class="fas fa-sign-in-alt fa-fw me-1" aria-hidden="true"></i> 
              <span class="nav-link-text">Connexion</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_user_register') }}">
              <i class="fas fa-user-plus fa-fw me-1" aria-hidden="true"></i> 
              <span class="nav-link-text">Inscription</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>

<script src="https://kit.fontawesome.com/your-fontawesome-kit.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  var cookies = document.cookie;
  
  var favorisCookie = cookies.split(';')
    .map(cookie => cookie.trim())
    .find(cookie => cookie.startsWith('favoris='));
  
  if (favorisCookie) {
    var favorisString = favorisCookie.split('=')[1];
    var favoris = JSON.parse(favorisString);
  
    var nombreFavoris = favoris.length;
    document.getElementById('favoris-count').textContent = nombreFavoris.toString();
  } else {
    document.getElementById('favoris-count').textContent = '0';
  }
</script>

<style>
  .navbar-brand {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
  }
  
  .sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    background-color: #333; /* Couleur de fond de la sidebar */
    padding: 20px;
  }
  
  .sidebar .nav-link {
    color: #fff; /* Couleur du texte des liens dans la sidebar */
  }
  
  .sidebar .nav-link:hover {
    color: #ffcc00; /* Couleur du texte des liens au survol */
  }
</style>