<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" style="background-color:white;" href="{{ path('app_home') }}">
      <img src="{{ asset('images/logo_back_remove.png') }}" alt="Coupdcoeurimmo Logo" width="110" height="110" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mb-2"></span>
    </button>
        
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav ml-4 " style="display: flex; align-items: flex-end;">

	<li class="nav-item">
          <a class="nav-link" href="{{ path('app_home') }}" style="padding-bottom:0px">	
	<span class="material-symbols-outlined" style="font-size:36px;">home</span>
          </a>
        </li>

        <li class="nav-item">
          {{ render(controller('App\\Controller\\CategoryController::index')) }}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_favoris') }}">
            <span class="text-dark">Mes favoris</span>
          </a>
        </li>
{% if not app.user %}
	<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="text-dark">Mon espace</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="width: auto !important; max-width: 200px;">
              <a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
              <a class="dropdown-item" href="{{ path('app_user_register') }}">Inscription</a>
          </div>
        </li>
      </ul>
    </div>
   </div>
              {% else %}
              {% include "shared/menuUser.html.twig" %}
            {% endif %}
</nav>


<style>
  a {
    color: #191e38;
    text-decoration: none !important;
  }

  .navbar-brand {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
  }

  .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .nav-link {
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out;
  }

  .nav-link:hover {
    color: #cd2148 !important;
  }

  .dropdown-menu {
    padding: 0.5rem;
  }

  .dropdown-item {
    display: block;
    width: 100%;
  }

  .dropdown-item:hover {
    background-color: #f8f9fa;
  }
</style>