{% extends 'base.html.twig' %}

{% block title %}Information de l'utilisateur {{ user.name }} {{ parent() }} {% endblock %}

{% block body %}
    <h1>Utilisateur ({{user.name }})</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ user.createdAt|date('d/m/Y') }}</td>
            </tr>
<tr>
<th>Numéro de téléphone</th>
<td>{{ user.phone}}</td>
            </tr>
            <tr>
            <th>Adresse</th>
            <td>{{ user.address }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
